@import "bootstrap-sprockets";
@import "bootstrap";

body {
	color: #2c3e50;
	background-color: #F3F3F3;
	margin:0px;
}

a {
	color: #376594;
}

main {
	padding: 0px 50px;
}

.navbar {
	border-radius: 0px;
	border: 0px;
}

.navbar-default {
	background-color: #2c3e50;
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #E7E7E7;
}

.navbar-default .navbar-brand {
	color: #E7E7E7;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #E7E7E7;
}

.container-fluid {
	padding-left: 65px;
	padding-right: 65px;
}

.jumbotron {
	height: 400px;
	text-align:center;
	background-image:url('main.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	padding-top: 100px;
}
	
.jumbotron h1, .jumbotron p {
	color:#E7E7E7;
}

/* footer */
footer {
	height:200px;
	background-color: #2c3e50;
	margin-top:60px;
	padding:50px;
	color: #E7E7E7;
	text-align: center;
}

/* Page elements */
.content .btn-primary, .content .btn{
	width:500px;
	border-radius: 0px;
	padding:15px;
	color: #565a5c;
	border-color: #c4c4c4;
	background:white;
}

table.center {
	margin-left:auto; 
	margin-right:auto;
}

/* Form Pages */
.form-pages {
	height:auto;
}

/* @media */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	main {
		padding: 0px 10px;
	}
	.content .btn-primary, .content .btn{
		width:100%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	main {
		padding: 0px 10px;
	}
	.jumbotron {
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	}
	.jumbotron h1 {
		padding-top: 20px;
		font-size: 60px;
	}
	.content .btn-primary, .content .btn{
		width:100%;
	}
	#search{
		display:none;
	}
}

/* Portrait phones and smaller */
@media (max-width: 600px) {
	main {
		padding: 0px 10px;
	}
	.jumbotron {
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
		padding-top:80px;
	}
	.jumbotron h1 {
		font-size: 50px;
	}
	.content .btn-primary, .content .btn{
		display:none;
	}
	#search{
		display:none;
	}
}